body{
	background-image: url('./assets/Background.png');
	background-repeat: no-repeat;
	background-position: -31% -70%; 
	background-size: 60%;
	background-color: #7477b6;
	font-family: 'Vazir';
	color:white;
	direction: rtl;
}

@font-face {
    font-family: 'Vazir'; /*a name to be used later*/
    src: url('./assets/fonts/Farsi-Digits/Vazir-FD.ttf'); /*URL to font*/
    font-style:normal;
    font-weight:normal;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
   font-family: 'Vazir' ;
   direction: rtl;
  /*box-sizing: border-box;*/
}
.header {
  position: center;
  text-align: center;
    width: 300px;
    border-bottom: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    padding: 15px;
}
i.fa-user{
  margin-left: 10px;
}
.dropbtn {
    background-color: #FFFFFF;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #EEEEEE}
.dropdown-content a:active {background-color: #D3D3D3}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color:#888EDF;
}
.container {
	padding-top: 120px;
	/*position: relative;*/
	padding-right: 250px; 
  /*display: -webkits-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
    /*-webkit-justify-content: space-around;  Safari 
  justify-content: space-around;*/
  /*-webkit-align-items: center;  Safari 
  align-items: center;*/
}
.row{
	padding-right: 140px;

}
.right_button {
    border-radius: 10px 0px 0px 10px;
    /*background: #73AD21;*/
    /*left-padding: 50px;*/
    width: 145px;
    height: 40px;
    color: white;
    background-color: #323793;
    font-size: 12px;
    display:inline;
    margin-right: 0px;
    margin-left: 0px;
    /*margin-top: 40px;*/
    outline:none;
    border: 0px;
    border-color: none;
    border-width: 0px;
    /*padding-top: 2px;*/
    position: relative;
}

.right_button:active{
	background-color: black;
}
.left_button {
    border-radius: 0px 10px 10px 0px;
    /*background: #73AD21;*/
    /*padding: 50px; */
    width: 145px;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: #323793;
    display:inline;
    margin-right: 0px;
    margin-left: 0px;
    /*margin-top: 40px;*/
    float: right;
    outline:none;
    border: 0px;
    border-color: none;
    border-width: 0px;
    position: relative;
}
.lable{
  font-size: 15px;
  width: 135px;
  word-wrap: normal;
  align-content: center;
  text-align: center;
  padding-right: 353px;
}
.right_button:hover {
	color: black;
	background-color: white;
}
.left_button:hover {
	color: black;
	background-color: white;
}
.big_button{
	border-radius: 0px 0px 10px 10px;
	width: 290px;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: #F68F6F;
    display:inline;
    margin-right: 0px;
    margin-left: 0px;
    float: right;
    outline:none;
    border: 0px;
    border-color: none;
    border-width: 0px;
}
.big_button:hover{
  background-color: #F8A791;
}
.search_panel{
	border-radius: 10px 10px 0px 0px;
	width: 290px;
  height: 290px; 
  background-color: #323793;
}
.line{
	padding-top: 4px;
	padding-bottom: 4px;
}
.container img {
 position:absolute;
 padding-right: 340px;
 width:175px;
 height:235px;
}
@-webkit-keyframes xfade {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity:1;
    }
    16.5% {
        opacity:0;
    }
    96% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes xfade {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity:1;
    }
    16.5% {
        opacity:0;
    }
    96% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.container img:nth-child(8) {
    -webkit-animation: xfade 120s 0s infinite;
    animation: xfade 120s 0s infinite;
}
.container img:nth-child(8):hover {
    -webkit-animation: paused;
    animation: paused;
}
.container img:nth-child(7):hover {
    -webkit-animation: paused;
    animation: paused;
}.container img:nth-child(6):hover {
    -webkit-animation: paused;
    animation: paused;
}.container img:nth-child(5):hover {
    -webkit-animation: paused;
    animation: paused;
}.container img:nth-child(4):hover {
    -webkit-animation: paused;
    animation: paused;
}.container img:nth-child(3):hover {
    -webkit-animation: paused;
    animation: paused;
}
.container img:nth-child(2):hover {
    -webkit-animation: paused;
    animation: paused;
}.container img:nth-child(1):hover {
    -webkit-animation: paused;
    animation: paused;
}
/*.container img:nth-child(7) {
    -webkit-animation: xfade 120s 15s infinite;
    animation: xfade 120s 15s infinite;
}
.container img:nth-child(6) {
    -webkit-animation: xfade 120s 30s infinite;
    animation: xfade 120s 30s infinite;
}
.container img:nth-child(5) {
    -webkit-animation: xfade 120s 45s infinite;
    animation: xfade 120s 45s infinite;
}
.container img:nth-child(4) {
    -webkit-animation: xfade 120s 60s infinite;
    animation: xfade 120s 60s infinite;
}
.container img:nth-child(3) {
    -webkit-animation: xfade 120s 75s infinite;
    animation: xfade 120s 75s infinite;
}
.container img:nth-child(2) {
    -webkit-animation: xfade 120s 90s infinite;
    animation: xfade 120s 90s infinite;
}
.container img:nth-child(1) {
    -webkit-animation: xfade 120s 105s infinite;
    animation: xfade 120s 105s infinite;
}
.css-slideshow {
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure {
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow:hover figure {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.css-slideshow img {
  padding-bottom: 100px;
  /*box-shadow: 0 0 2px #666;*/
}
.pauseplay {
  position: relative;
  margin: 5em auto .5em auto;
}
.css-slideshow-attr {
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin: 0 auto;
}
.css-slideshow-attr a {
  color: #666;
}
.css-slideshow figure {
  opacity: 1;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}
.css-slideshow:hover figure,
#pauseShow:checked ~ figure {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#pauseShow:checked + label,
#pauseShow:not(:checked) + label + label {
  display: none;
}
.footer{
    position: fixed;
    text-align: left ;
    font-size: 16px ;
    width: 600px ;
    height: 50px ;
}